* {
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
}

.content-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
  }

h1 {
    text-align: center;
    font-weight: bolder;
    font-family: 'Alfa Slab One', cursive;
}

h3 {
    text-align: center;
    font-weight: lighter;
    padding: 20px;
}

.rules {
    padding: 0px 90px 0px 90px;
    margin: 20px 0px 20px 0px;
    font-style: oblique;
}

h2 {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.scoreboard {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 40px;
}

.player, .computer, .scanner {
    font-size: xx-large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 30px;
    border-radius: 0.75em;
    box-shadow: 15px 15px 30px #d8d8d8,
                -15px -15px 30px #ffffff;
}

div .computerScore, .playerScore, .console {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.player, .computer {
    width: 70px;
    height: 14px;
}

.scanner {
    width: 330px;
    height: 14px;
  }

.button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
   }
   
.button {
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
   }
   
.button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #ffffff, 0 0.625em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #ffffff, 0 0.625em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
   }
   
.button:hover {
    background: #ffffff;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
   }
   
.button:hover::before {
    -webkit-box-shadow: 0 0 0 2px #ffffff, 0 0.5em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #ffffff, 0 0.5em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
   }
   
.button:active {
    background: #ffffff;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
   }
   
.button:active::before {
    -webkit-box-shadow: 0 0 0 2px #ff006a, 0 0 #ff006a;
    box-shadow: 0 0 0 2px #ff006a, 0 0 #ff006a;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
   }

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 1rem; 
    text-align: center;  
    margin-top: 30px;
  }

.play_again_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playAgain {
    font-weight: 600;
    cursor: pointer;
    color: #000000;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #c5ffb7;
    border: 2px solid #000000;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
   }

.playAgain:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #ffffff, 0 0.625em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #ffffff, 0 0.625em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
   }
  
.playAgain:hover {
        background: #b1ff9e;
        -webkit-transform: translate(0, 0.25em);
        transform: translate(0, 0.25em);
    }
  
.playAgain:active {
        background: #98ff7e;
        -webkit-transform: translate(0em, 0.75em);
        transform: translate(0em, 0.75em);
    }

.playAgain:active::before {
    -webkit-box-shadow: 0 0 0 2px #ff006a, 0 0 #ff006a;
    box-shadow: 0 0 0 2px #ff006a, 0 0 #ff006a;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
   }