* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-weight: bolder;
    padding: 20px;
}

h3 {
    text-align: center;
    font-weight: lighter;
    padding: 20px;
}

.rules {
    padding: 0px 90px 0px 90px;
    margin: 20px 0px 20px 0px;
}

h2 {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.scoreboard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 55px;
}

.player, .computer, .scanner {
    font-size: xx-large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 30px;
    border-radius: 0.75em;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
}

div .computerScore, .playerScore, .console {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.player, .computer {
    width: 100px;
    height: 14px;
}

.scanner {
    width: 320px;
    height: 14px;
  }

.button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
   }
   
.button {
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
   }
   
.button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #ffffff, 0 0.625em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #ffffff, 0 0.625em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
   }
   
.button:hover {
    background: #ffffff;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
   }
   
.button:hover::before {
    -webkit-box-shadow: 0 0 0 2px #ffffff, 0 0.5em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #ffffff, 0 0.5em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
   }
   
.button:active {
    background: #ffffff;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
   }
   
.button:active::before {
    -webkit-box-shadow: 0 0 0 2px #ff006a, 0 0 #ff006a;
    box-shadow: 0 0 0 2px #ff006a, 0 0 #ff006a;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
   }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem; 
    text-align: center;  
    margin-bottom: 15px;
  }

  
.playAgain {
    display: block;
    margin: 0 auto;
    padding: 1.3em 3em;
    font-size: 14px;
    font-weight: bolder;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 0.75em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
.playAgain:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
.playAgain:active {
    transform: translateY(-1px);
  }